body {
    background-color: #eee;
    padding: 25px;
    margin-left: 21%;
}

.newspaper-container {
    width: 700px;
    height: 90vh;
    border-radius: 30px;
    box-shadow: #ddd;
    padding: 1px;
    background-color: white
}

.date {
    text-align: left;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav,
li {
    list-style: none;
    display: inline-block;
    margin: 1px;
    padding: 2px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link {
    color: rgb(133, 132, 132);
}

a:hover {
    color: black;
}

nav {
    position: sticky;
    top: 0%;
    background-color: white;
    color: black;
}

main {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}

.more-articles p {
    position: relative;
    display: flex;
    font-family: Arial, Helvetica, sans-serif
}

.section1 {
    padding: 25vh;
    margin: 2px;
    border: 4px;
    position: absolute;
    bottom: -150px;
    left: 26%;
    text-align: center;
}

.section2 {
    padding: 25vh;
    margin: 2px;
    border: 4px;
    position: absolute;
    bottom: -150px;
    right: 26%;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');